@font-face { 
    font-family: 'POPPINS2';
    src: url('./../media/fonts/Poppins/Poppins-ExtraBold.ttf');
}

:root {
   --color-black-primary: #000;
   --color-black-secondary: #181717;
   --color-white: #fff;
   --color-violet-primary: #500486;
   --color-violet-secondary: #a631fa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'POPPINS2';
    background-color: #181717;
}

#container-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #a631fa;
}

#logo {
    color: var(--color-white);
    font-weight: 600;
    font-size: 2.8rem;
}

#text-logo {
    font-size: 3.9rem;
    font-weight: bolder;
    font-style: normal;
    color: #f8eefc;
}

.text-welcome{
    font-size: 4.9rem;
    color: white;
    margin-top: -75px;
}

img {
    width: 40px;
    rotate: 30deg;
}

.container-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 28px 50px 0;
    align-self: center;
    gap: 20px;
}

.mode {
    outline: 1px solid var(--color-violet-secondary);
    background-color: var(--color-black-secondary);
    width: 40px;
    height: 40px;
    border-radius: 50%;
  
    cursor: pointer;
}

btn {

}